---
const { profileImage = "/placeholder-about.jpg" } = Astro.props;
---

<div class="bio-wrapper">
  <img src={profileImage} alt="About" />
  <slot />
</div>

<style scoped>
  div {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  img {
    width: 100px;
    border-radius: 100px;
    display: block;
    margin: 20px;
  }

  .bio-wrapper {
    line-height: 1.6;
    justify-self: start;
  }
</style>
