---
import For from "./For.astro";
import TagBadge from "./TagBadge.vue";

const { tags, url } = Astro.props;
---

<div class="blog-post-card">
    <div class="blog-post-content">
        <div class="blog-post-date">
            <slot name="post-date" />
        </div>
        <div class="blog-post-title">
            <slot name="post-title" />
        </div>
        <slot name="post-description" />
        <!-- read more button -->
        <span class="read-more-button">
            <a href={url}>Read More</a>
        </span>
    </div>
    <div class="blog-post-meta">
        <slot name="post-image" />
        <div class="taggroup">
            <fieldset class="taglist">
                <legend>Tags</legend>
                <For each={tags}>
                    {
                        (tag: string) => {
                            return (
                            <TagBadge
                                tag={tag}
                                href={`/blog/tag/${tag}`}
                            />
                            )
                        }
                    }
                </For>
            </fieldset>
        </div>
    </div>
</div>

<style lang="sass">
    .blog-post-card
        display: flex
        flex-direction: row
        min-width: 600px
        max-width: 1000px
        min-height: 250px
        position: relative
        border-color: #3f486050
        border-style: solid
        border-width: 1px
        border-radius: 10px
        margin: 0 auto
        margin-bottom: 1ch
        padding: 10px

    .blog-post-title
        font-size: 18px
        font-weight: 300
        font-family: Montserrat
        text-align: left

    .blog-post-card:hover
        border-color: #37adff

    .blog-post-date
        flex-direction: row
        color: #6a738b
        font-size: 16px
        font-weight: 400
        font-family: Montserrat
        text-align: left
        width: 100%

    .blog-post-content
        flex-direction: row
        width: 70%
        min-height: 100%
        border-right: 1px solid #3f486050

    .read-more-button
        background-color: #328a9d
        width: 100px
        display: flex
        flex-direction: row
        justify-content: center
        align-items: center
        border: 1px solid #3f4860
        border-radius: 10px
        padding: 5px
        position: absolute
        bottom: 10px
    
    .read-more-button a
        color: black
        font-size: 14px
        font-weight: 400
        font-family: Montserrat
        text-decoration: none

    .read-more-button:hover
        border: 1px solid #37adff

    .blog-post-meta
        flex-direction: column
        text-align: right
        width: 30%

    .taggroup
        display: flex
        width: 100%

    .taglist
        min-width: content
        display: inline-flex
        flex-direction: row
        flex-wrap: wrap
        vertical-align: middle
        border: none

    .tag-badge
        background-color: grey
        width: content
        border-radius: 10px
        margin: 1px

    .tag-badge:hover
        background: #37adff
        border-color: #37adff
</style>